.booking h2{
  margin:2rem auto ;
  font-size: 2.5rem;
}
.booking-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 20px;
    border: 0px solid #ccc;
    border-radius: 6px;
    background: linear-gradient(to right, #50a7af, #b2e5e9 );
  }
  
  /* Label styling */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Input and select styling */
  input[type='number'], .bookingdata {
    width: 32% ;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
  
  /* Button styling */
  button {
    padding: 10px 20px;
    margin: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Button hover effect */
  button:hover {
    background-color: #0a5764;
  }
 
    
    /* Modal styling */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 400px;
    height: auto; 
    display: flex;
    flex-direction: column;
    color:  #0a5764 ;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 238, 234); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
} 
    .modal-content {
      background-color:rgb(214, 238, 234);
      padding: 20px;
      border-radius: 5px;
    }
