.about{
    margin: 4rem 6rem;
    color: #2a2a2a;
}
.about h1{
    padding-top: 3rem;
    font-size: 3rem;
}
.aboutCard{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.cards{
    width: 32%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem .8rem;
}
.cards:hover{
    background:  #18858d;
    color: white;
}
.image-about{
    width: 100%;
    height: auto;
}
.image-about img{
    width: 65%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
    border-radius: 7px;
}
.image-about:hover img{
    transform: scale(1.3);
}
.cards h4{
    font-size: 1.3rem;
    padding: .9rem 0.2rem 0;
}
 /* About Description */
.about-des{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 4.5rem;
}
.about-des-text{
    width: 45%;
    text-align: start;
    font-size: 1.1rem;
}
.about-des-text h2{
    padding-bottom: 1rem;
    font-size: 3rem;
}
.para1{
    padding: 1rem;
}
.para2{
    padding: 1rem;
}
.para3{
    padding: 1rem;
}
.about-des-img{
   padding: relative; 
   width: 70%;
}
.about-des-img img{
   width: 70%; 
   height: 500px;
   object-fit: cover;
   border-radius: 6px;
}
@media screen and (max-width:850px) {
    .about{
        margin: 4rem 2rem;
    }
    .aboutCard{
      flex-direction: column;
    }
    .cards{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .about-des{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 4rem 2rem;
    }
    .about-des-text{
        width: 100%;
    }
    .about-des-img{
        width: 100%;
        margin: 1.8rem 0;
    }
    .about-des-img img{
        height: 250px;
    }
}

