.form-container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  color: #555;
}

input:focus + label,
textarea:focus + label,
input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-100%);
  font-size: 12px;
  color: #007bff;
}

button {
  align-self: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 14px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9abfe7;
}

@media (max-width: 850px) {
  .form-container {
    padding: 10px;
  }
}
